apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: administrative
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:kramarov666/miracle6-k8s.git
    targetRevision: HEAD
    path: administrative
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: namespaces
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:kramarov666/miracle6-k8s.git
    targetRevision: HEAD
    path: namespaces
  destination:
    server: https://kubernetes.default.svc
    namespace: default
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-load-balancer-controller
  namespace: argocd
spec:
  project: default
  source:
    chart: aws-load-balancer-controller
    repoURL: https://aws.github.io/eks-charts
    targetRevision: 3.5.0
    helm:
      releaseName: aws-load-balancer-controller
      parameters:
        - name: clusterName
          value: "${cluster_name}"
        - name: serviceAccount.create
          value: "false"
        - name: serviceAccount.name
          value: aws-load-balancer-controller
  destination:
    server: "https://kubernetes.default.svc"
    namespace: kube-system